header {
  /* padding-top: 200px; */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../images/cubes.png');
  background-color: #d49e31;
  /* position: fixed; */
  
}

.avatar {
  margin-top: 18%;
}