nav {
  background-color:#4056A1;
  height: 120px;
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
 }

span {
  margin: 1.5em;
}

.tweeterHeader {
  font-family: 'Bungee', cursive;
  font-size: 30px;
 }

.clickToTweet {
  display: flex;
  flex-direction: column;
}

.clickToTweet span {
  margin-bottom: 10px;
}

.fa-angle-double-down {
  color: #41a3e49a;
  align-self: center;
}
