nav {
  background-color:#4056A1;
  height: 120px;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
 }

span {
  margin: 1.5em;
}

.tweeterHeader {
  font-family: 'Bungee', cursive;
  font-size: 30px;
 }

.clickToTweet {
  display: flex;
  flex-direction: column;
  margin: 1.5em;
  border: none;
  background-color: inherit;
  color: white;
}
.clickToTweet i {
  position: relative;
}

.clickToTweet:hover i {
  animation: MoveUpDown 1s linear infinite;
}
@keyframes MoveUpDown {
  0%, 100% {
    top: 0;
  }
  50% {
    top: 10px;
  }
}

.clickToTweet span {
  margin-bottom: 10px;
}

.fa-angle-double-down {
  color: #41a3e49a;
  align-self: center;
}
