.bttn-unite bttn-md bttn-primary {
  font-family: 'Bungee', cursive;
  font-size: 20px;
}

.new-tweet {
  background-color:#4056A1;
  color: #FFFFFF;
  margin-bottom: 20px;
  order: 5;
  border: thick solid white;
}

.new-tweet-footer, .new-tweet-header {
  display: flex;
  justify-content: space-between;
  margin: 1% 5%;
}

#tweet-text {
  border-bottom-color: black;
  border-bottom-width: medium;
  display: flex;
  align-self: center;
  width: 90%;
}

.new-tweet-form {
  display: flex;
  flex-direction: column;
}

.new-tweet:hover {
  background-color:#90E0EF;
  color: black;
}