.tweet-container {
  background-image: url('../images/black-linen.png');
  background-color:#4056A1;
  color: #FFFFFF;
  border: thick solid white;
  padding: 0px 10px 15px 10px;
  margin-bottom: 15px;
}

.tweet-container:hover {
  box-shadow: 10px 10px 8px black;
  background-color:#90E0EF;
  color: #4056A1;
}

/* ///// Header CSS ////// */
.tweet-header  {
  display: flex;
  justify-content: space-between;
  height: 120px;
}

.tweet-header img {
  width: 50%; 
  height: auto;
  background-color: white;
}

.tweet-header div {
  height: 100px;
  display: flex;
  align-self: flex-end;
}

.tweet-header h3 {
  padding-left: 10px;
}

/* //// Article/body of Tweet ////  */
.tweet  {
  border-bottom: medium solid white;
  margin-left: 10px;
  overflow-wrap: anywhere;
}

#error {
  margin: 0px;
  padding-left: 30px;
}

/* //// Footer //// */
.tweet-container footer {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.tweet-container footer div i:hover {
  color: white;
}