.tweet-container {
  background-color:#4056A1;
  color: #FFFFFF;
  border: thick solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.tweet-container:hover {
  box-shadow: 10px 10px 8px black;
}

/* ///// Header CSS ////// */
.tweet-header  {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 120px;
}

.tweet-header div {
  height: 100px;
}
.tweet-header img {
  width: 50%; 
  height: auto;
  background-color: white;
}

.tweet-header div {
  display: flex;
  align-self: flex-end;
  justify-content: space-between;
}

.tweet-header h3 {
  padding-left: 10px;
}

/* //// Article/body of Tweet ////  */
article  {
  border-bottom: medium solid white;
  margin-left: 10px;
  overflow-wrap: anywhere;
}

/* //// Footer //// */
.tweet-container footer {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  align-content: flex-start;
}
.tweet-container footer div i:hover {
  color: #41a3e49a;
}